{% extends 'base.html.twig' %}

{% block title %}{{ projet.titre }} - {{ parent() }}{% endblock %}

{% block body %}

<!-- component -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="grid min-h-screen place-content-center bg-gray-900">
        <div x-data="imageSlider" class="relative mx-auto max-w-2xl overflow-hidden rounded-md bg-gray-100 p-2 sm:p-4">
            <div class="absolute right-5 top-5 z-10 rounded-full bg-gray-600 px-2 text-center text-sm text-white">
                <span x-text="currentIndex"></span>/<span x-text="images.length"></span>
            </div>

            <button @click="previous()"
                class="absolute left-5 top-1/2 z-10 flex h-11 w-11 -translate-y-1/2 items-center justify-center rounded-full bg-gray-100 shadow-md">
                <i class="fas fa-chevron-left text-2xl font-bold text-gray-500"></i>
            </button>

            <button @click="forward()"
                class="absolute right-5 top-1/2 z-10 flex h-11 w-11 -translate-y-1/2 items-center justify-center rounded-full bg-gray-100 shadow-md">
                <i class="fas fa-chevron-right text-2xl font-bold text-gray-500"></i>
            </button>

            <div class="relative h-80" style="width: 30rem">
                <template x-for="(image, index) in images">
                    <div x-show="currentIndex == index + 1" x-transition:enter="transition transform duration-300"
                        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                        x-transition:leave="transition transform duration-300" x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0" class="absolute top-0">
                        <img :src="image" alt="image" class="rounded-sm" />
                    </div>
                </template>
            </div>
        </div>
    </div>


    <div class="flex flex-col gap-4">
        <h1 class="font-bold text-xl mb-2">{{ projet.titre }}</h1>

        <div>
            {{ projet.description|raw }}
        </div>

        <div>
            {% if projet.fin %}
            Projet s'étalant du {{ projet.debut|date('d/m/Y') }} au {{ projet.fin|date('d/m/Y') }}.
            {% else %}
            Projet commencé le {{ projet.debut|date('d/m/Y') }}.
            {% endif %}
        </div>

        <div class="px-6 pt-4 pb-2">
            {% for techno in projet.technologies %}
            <a href="{{ path('app_projets', {techno_id: techno.id}) }}" class="hover:text-white hover:text-lg inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                # {{ techno.nom }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
</div>


<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("imageSlider", () => ({
            currentIndex: 1,
            images: [
                {% for image in projet.images %}
                "{{ image.url }}"
                    {% if not loop.last %}
        ,
        {% endif %}
        {% endfor %}
            ],
        previous() {
        if(this.currentIndex > 1) {
        this.currentIndex = this.currentIndex - 1;
    }
            },
    forward() {
        if (this.currentIndex < this.images.length) {
            this.currentIndex = this.currentIndex + 1;
        }
    },
        }));
    });
</script>


<section class="bg-white dark:bg-gray-900 py-8 lg:py-16">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
                Discussion ({{ projet.commentaires|length }})
            </h2>
        </div>

        {% if app.user %}
        <form class="mb-6" method="POST" action="{{ path('app_post_comment', {id: projet.id}) }}">
            <div
                class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <input type="hidden" name="token" value="{{ csrf_token('post-comment') }}">
                <label for="message" class="sr-only">Votre commentaire</label>
                <textarea id="message" rows="6" name="message"
                    class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                    placeholder="Ecrivez un commentaire..." required></textarea>
            </div>
            <button type="submit"
                class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                Envoyer
            </button>
        </form>
        {% endif %}

        {% for comment in projet.commentaires|sort((a, b) => b.date <=> a.date) %}
            <article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
                <div class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                            <img class="mr-2 w-6 h-6 rounded-full"
                                src="{{ comment.utilisateur.avatar|default('https://picsum.photos/200') }}"
                                alt="{{ comment.utilisateur.pseudo }}">
                            {{ comment.utilisateur.pseudo }}
                        </p>
                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                                title="February 8th, 2022">Le {{ comment.date|date('d/m/Y') }}</time></p>
                    </div>
                </div>
                <p class="text-gray-500 dark:text-gray-400">{{ comment.contenu }}</p>
            </article>
            {% endfor %}

    </div>
</section>
{% endblock %}