<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body class="flex flex-col min-h-screen gap-8">

    <header class="bg-gray-800 text-white p-4">
        <nav class="container mx-auto flex gap-16 flex-wrap">
            <a href="{{ path('app_home') }}" class="underline">Accueil</a>

            <a href="{{ path('app_projets') }}" class="underline">Mes projets</a>
            <a href="{{ path('app_cv') }}" class="underline">Mon CV</a>
            <a href="{{ path('app_contact') }}" class="mr-auto underline">Contactez-moi !</a>

            {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="underline">Back-Office Administrateur</a>
            {% endif %}

            <a href="{{ path('app_logout') }}" class="underline">Déconnexion</a>
            {% else %}
            <a href="{{ path('app_login') }}" class="underline">Connexion</a>
            {% endif %}
        </nav>
    </header>

    <div class="mx-auto container">
        {% block body %}{% endblock %}
    </div>

    <footer class="bg-gray-800 text-white p-4 mt-auto">
        <nav class="container mx-auto flex gap-16 justify-center items-center">
            <span class="mr-24">&copy; 2023 - DW9</span>

            <a href="{{ path('app_mentions') }}" class="underline text-xs">Mentions légales</a>
            <a href="{{ path('app_cgu') }}" class="underline text-xs">CGU</a>
            <a href="{{ path('app_pol_conf') }}" class="underline text-xs">Politique de confidentialité</a>
        </nav>
    </footer>
</body>

</html>