<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body class="flex flex-col min-h-screen gap-8">

    <header class="bg-gray-800 text-white p-4">
        <nav class="container mx-auto flex gap-16 flex-wrap items-center">
            <a href="{{ path('app_home') }}" class="underline">Accueil</a>

            <a href="{{ path('app_projets') }}" class="underline">Mes projets</a>
            <a href="{{ path('app_cv') }}" class="underline">Mon CV</a>
            <a href="{{ path('app_contact') }}" class="underline">Contactez-moi !</a>

            <form action="{{ path('app_projets') }}" method="GET" class="flex mx-auto w-96 h-8">
                <div class="relative w-full">
                    <input type="search" id="search" name="search"
                        class="h-full block p-2.5 w-full z-20 text-sm focus:text-gray-900 bg-gray-900 text-white focus:bg-gray-50 rounded-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                        placeholder="Nom du projet..." required>
                    <button type="submit"
                        class="absolute top-0 right-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex justify-center items-center">
                        <svg class="w-4 h-4 align-middle" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Rechercher</span>
                    </button>
                </div>
            </form>

            {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="underline">Back-Office Administrateur</a>
            {% endif %}

            <a href="{{ path('app_logout') }}" class="underline">Déconnexion</a>
            {% else %}
            <a href="{{ path('app_login') }}" class="underline">Connexion</a>
            {% endif %}
        </nav>
    </header>

    <div class="mx-auto container">
        {% block body %}{% endblock %}
    </div>

    <footer class="bg-gray-800 text-white p-4 mt-auto">
        <nav class="container mx-auto flex gap-16 justify-center items-center">
            <span class="mr-24">&copy; 2023 - DW9</span>

            <a href="{{ path('app_mentions') }}" class="underline text-xs">Mentions légales</a>
            <a href="{{ path('app_cgu') }}" class="underline text-xs">CGU</a>
            <a href="{{ path('app_pol_conf') }}" class="underline text-xs">Politique de confidentialité</a>
        </nav>
    </footer>
</body>

</html>