{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		#page {
			width: {{page_width ??  '21cm'}}
			;
			height: {{page_height ??  '29.7cm'}}
			;
			position: relative;
			border: 1px solid #ccc;
			padding: {{print_page_margin ??  '1.5cm'}};
            margin: 2rem auto;
			overflow-y: auto;
		}

		#page *:not(hr, table, tr, td, th) {
			/* background-color: transparent; */
			/* border: none; */
			box-shadow: none;
		}

		#page::-webkit-scrollbar {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 5px;
			z-index: 5;
			background-color: none;
		}

		#page::-webkit-scrollbar-button {
			display: none;
			background-color: transparent;
		}

		#page::-webkit-scrollbar-thumb {
			background-color: transparent;
			border-radius: 5px;
		}

		#page:hover::-webkit-scrollbar-thumb {
			background-color: #aaa;
		}

		#page::-webkit-scrollbar-track {
			display: none;
		}

		#page::-webkit-scrollbar-track-piece {
			display: none;
		}


		@media screen {
			#page {
				filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
			}
		}

		@media print {
			@page {
				size: {{page_format ?? 'A4 portrait'}};
				marks: none;
				bleed: none;
				margin: {{print_page_margin ??  '1.5cm'}} !important;
			}

			header,
			nav,
			footer {
				display: none;
			}

			html,
			body,
			.container,
			#page {
				display: block;
				border: none;
				padding: 0;
				margin: 0;
				box-shadow: none;
				height: initial;
				width: 100% !important;
				filter: none !important;
				box-shadow: none !important;
			}

			body {
				-webkit-print-color-adjust: exact !important;
				print-color-adjust: exact !important;
			}
		}
	</style>
{% endblock %}

{% block body %}

	<div class="flex justify-center gap-8 print:hidden">
		{% if display_print_action ?? true %}
			<button onclick="window.print()" class="p-2 bg-gray-500 rounded text-white" id="download">
				Télécharger / Imprimer
			</button>
		{% endif %}

		{% block additionnal_actions %}{% endblock %}
	</div>

	<div class="shadow-lg p-0" id="page">
		{% block page %}{% endblock %}
	</div>
{% endblock %}